.back{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    background: #000000cf;
    height: 93vh;
    .formContainer{
      flex-direction: column;
      position: relative;
      background: white;
      height: 570px;
      align-self: center;
      display: flex;
      align-items: center;
      justify-content: center;
      .ynBtns{
        justify-content: space-around;
        display: flex;
        a{
          border: 1px solid transparent;
          border-radius: 3px;
          width: 80px;
          line-height: 2;
          text-align: center;
          background-color: #d5ebff94;
          transition: 0.3s linear;
          &:hover{
            background-color: #77beff94;
          }
        }
      }
      ul{
        padding: 0;
        list-style: none;
        li{
            line-height: 2;
        }
      }
    }
  }